<app-barra-comandos
  (eventoBusca)="consultar($event)"></app-barra-comandos>
<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Hora</th>
      <th>Paciente</th>
      <th>Profissional</th>
      <th>Unidade</th>
      <th>Convênio</th>
      <th>Atendimento</th>
    </tr>
  </thead>
  <tbody>
    @for (item of registros(); track item) {
      <tr>
        <td class="fit">{{ item.data }}</td>
        <td class="fit">{{ item.hora }}</td>
        <td>{{ item.paciente.nome }}</td>
        <td>{{ item.profissional.nome }}</td>
        <td>{{ item.profissional.unidade.nome }}</td>
        <td>{{ item.convenio?.nome || 'Sem convênio' }}</td>
        <td>
          <a (click)="atualizarStatus(item.id)"
            class="botao iniciar"
            [ngClass]="{ inativo: item.status == 'ATENDIMENTO' }">Iniciar</a>
          <a (click)="atualizarStatus(item.id)"
            class="botao finalizar"
            [ngClass]="{ inativo: item.status == 'CHEGADA' }">Finalizar</a>
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">
        @if (registros().length > 0) {
          <span>Total de registros: {{ registros().length }}</span>
        } @else {
          <span>Nenhum registro encontrado</span>
        }
      </td>
    </tr>
  </tfoot>
</table>
